---
import "../styles/global.css";
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Untitled.svg" />
		<link
			rel="preload"
			href="/inter.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content="/Untitled.png" />
		<!-- HTML Meta Tags -->
		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://www.ando.bio" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/Untitled.png" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="ando.bio" />
		<meta property="twitter:url" content="https://www.ando.bio" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="/Untitled.png" />
	</head>
	<body>
		<slot />
	</body>
</html>
